-extends "base.haml"

-load bootstrap3

-block content
  .row
    .col-md-9
      %h1= event.title
      %hr

      -if event_attending
        .alert.alert-danger
          %b Warning:
          this is your personal page for this event that allows you to modify your answer, don't lose it or you won't be able to do it

      %p
        %b
          -if event.date
            =event.date
          -else
            No date yet for this event
          \-
          -if event.time
            =event.time
          -else
            no hours yet for this event

      %p
        %i
          -if event.location_address
            =event.location_address
          -else
            No location yet for this event, don't hesitate to suggest one!

      %p= event.description

      %h2 Commentaires
      %hr

      %p{style: "margin-bottom: 20px; margin-left: 10px"}
        %i
          There is no comments yet.

      .row
        .col-md-8.col-md-offset-1
          .form-box
            %form.form{action: "", method: "post"}
              -csrf_token
              %h4 Add a comment
              .row
                .col-md-6
                  .form-group
                    %label.control-label{for: "comment_name"}
                      Name
                    %input#comment_name.form-control{type: "text", required: "", placeholder: "name", name: "comment_name", value: "{{ form.name.data }}", required: "true"}

                .col-md-6
                  .form-group
                    -#
                      %label.control-label{for: "comment_email"}
                        Email
                      %input#comment_email.form-control{type: "text", required: "", placeholder: "name", name: "email"}

              .form-group
                %label.control-label{for: "comment_content"}
                  Comment
                %textarea#comment_content.form-control{name: "comment_content", required: "true"}

              .form-group
                %input.form-control.btn.btn-primary{type: "submit", value: "Add a comment"}

    .col-md-3
      %h1 Attendees
      %hr

      .form-box
        %form.form{action: "", method: "post"}
          -csrf_token
          -if event_attending
            %h4 Update my respond
          -else
            %h4 Respond to this event
          .form-group
            -bootstrap_field form.name

          .form-group
            =form.choice.errors
            .btn-group.btn-group-justified{data-toggle: "buttons"}
              %label{class: "btn btn-default {% if form.choice.data == 'yes' or not event_attending %}active{% endif %}"}
                %input#yes{type: "radio", name: "choice", value: "yes", checked: "true", autocomplete: "off"} Yes
              %label{class: "btn btn-default {% if form.choice.data == 'no' %}active{% endif %}"}
                %input#no{type: "radio", name: "choice", value: "no", autocomplete: "off"} No
              %label{class: "btn btn-default {% if form.choice.data == 'maybe' %}active{% endif %}"}
                %input#maybe{type: "radio", name: "choice", value: "maybe", autocomplete: "off"} Maybe

          .form-group
            %input.form-control.btn.btn-primary{type: "submit", value: "{% if event_attending %}Modify{% else %}Respond{% endif %}"}

      %br

      -if not event.yes_attending.exists and not event.maybe_attending.exists and not event.no_attending.exists
        %p{style: "text-align: center"}
          %i
            No one has answer to this event yet.

      -if event.yes_attending.exists
        .panel.panel-success
          .panel-heading
            %span.badge{style: "float: right"}= event.yes_attending.count
            Attending
          %ul.list-group
            -for attending in event.yes_attending
              %li.list-group-item
                -if attending.uuid == event_attending.uuid
                  %span.badge You
                =attending.name

      -if event.maybe_attending.exists
        .panel.panel-warning
          .panel-heading
            %span.badge{style: "float: right"}= event.maybe_attending.count
            Maybe attending
          %ul.list-group
            -for attending in event.maybe_attending
              %li.list-group-item
                -if attending.uuid == event_attending.uuid
                  %span.badge You
                =attending.name

      -if event.no_attending.exists
        .panel.panel-default
          .panel-heading
            %span.badge{style: "float: right"}= event.no_attending.count
            Not attending
          %ul.list-group
            -for attending in event.no_attending
              %li.list-group-item
                -if attending.uuid == event_attending.uuid
                  %span.badge You
                =attending.name
